
body {
    background-color: #310010;
    font-family: Verdana, Geneva, sans-serif;
    /*background-size: cover;*/
    /*width: 100%;*/
}

body p {}

#header {
    position: relative;
    background-color: #000E1B;
    margin: 25px 10px 0px 10px;
    border: 2px solid black;
    border-radius: 25px;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
    -moz-box-shadow: 0px 0px 10px 2px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
}

#header:hover {
    border: 2px solid #CC9900;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 20px 4px #CC9900;
    -moz-box-shadow: 0px 0px 20px 4px #CC9900;
    box-shadow: 0px 0px 20px 4px #CC9900;
}

#banner {
    position: relative;
    cursor: pointer;
    background-color: #310010;
    color: #CC9900;
    font-size: 3.8em;
    text-shadow: 0.035em 0.035em black;
    margin: 50px 50px 50px 50px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 20px;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
    -moz-box-shadow: 0px 0px 10px 2px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
}

#banner:hover {
    -webkit-animation-name: bord1; 
    -webkit-animation-duration: 2.0s; 
    -webkit-transform-origin:50% 50%; 
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-timing-function: linear; 
}

#wrapper {
    position: relative;
    background-color: #000E1B;
    border: 2px solid black;
    border-radius: 25px;
    margin: 50px 10px 0px 10px;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
    -moz-box-shadow: 0px 0px 10px 2px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
}

#wrapper:hover {
    border: 2px solid #CC9900;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 20px 4px #CC9900;
    -moz-box-shadow: 0px 0px 20px 4px #CC9900;
    box-shadow: 0px 0px 20px 4px #CC9900;
}


#navigation {
    position: relative;
    background-color: #310010;
    margin: 50px 50px 50px 50px;
    height: 420px;
    border: 2px solid black;
    border-radius: 25px;
    text-shadow: 0.1em 0.1em #333;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
    -moz-box-shadow: 0px 0px 10px 2px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
}

#navigation:hover {
    border: 2px solid #CC9900;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 20px 4px #CC9900;
    -moz-box-shadow: 0px 0px 20px 4px #CC9900;
    box-shadow: 0px 0px 20px 4px #CC9900;
}

#nav {
    list-style: none;
}

#nav li button {
    position: relative;
    float: left;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 525px;
    height: 350px;
    background-color: black;
    background-size: 505px 330px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    border: 5px solid black; 
    border-radius: 25px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
    -moz-box-shadow: 0px 0px 10px 2px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
}

#nav li button:hover {
    border-radius: 30px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    /*-webkit-transform: rotate(0.5deg);*/
    -webkit-box-shadow: 0px 0px 20px 4px #CC9900;
    -moz-box-shadow: 0px 0px 20px 4px #CC9900;
    box-shadow: 0px 0px 20px 4px #CC9900;
    -webkit-animation-name: rot1; 
    -webkit-animation-duration: 2.0s; 
    -webkit-transform-origin:50% 50%; 
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-timing-function: linear; 
}
/*
#nav li button:active {
    background-color: black;
    border-radius: 50px;
    -webkit-transition: all 2.0s;
    -moz-transition: all 2.0s;
    transition: all 2.0s;
    -webkit-box-shadow: 0px 0px 30px 6px #CC9900;
    -moz-box-shadow: 0px 0px 30px 6px #CC9900;
    box-shadow: 0px 0px 30px 6px #CC9900;
    -webkit-transform: rotate(360deg);
}
*/
#inventory {
    background-image: url(./Images/cellar1.png);
    margin-left: 0px;
    margin-right: 25px;

}

#login {
    background-image: url(./Images/login2.jpg);
    margin-left: 50px;
    margin-right: 25px;
}

#t1 {
    position: relative;
    display: inline-block;
    float: left;
    cursor: pointer;
    color: #CC9900;
    font-size: 1.8em;
    text-shadow: 0.035em 0.035em black;
    margin: -100px 0px 0px 25px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
    -moz-box-shadow: 0px 0px 10px 2px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
}

#t2 {
    position: relative;
    display: inline-block;
    float: right ;
    cursor: pointer;
    color: #CC9900;
    font-size: 1.8em;
    text-shadow: 0.035em 0.035em black;
    margin: -300px 75px 0px 0px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
    -moz-box-shadow: 0px 0px 10px 2px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
}

#t1:hover {
    border-radius: 30px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-box-shadow: 0px 0px 40px 8px #CC9900;
    -moz-box-shadow: 0px 0px 40px 8px #CC9900;
    box-shadow: 0px 0px 40px 8px #CC9900;
}

#t2:hover {
    border-radius: 30px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-box-shadow: 0px 0px 40px 8px #CC9900;
    -moz-box-shadow: 0px 0px 40px 8px #CC9900;
    box-shadow: 0px 0px 40px 8px #CC9900;
}

#languages {
    position: relative;
    display: inline-block;
    float:left;
    background-color: #000E1B;
    margin: 25px 0px 25px 10px;
    border: 2px solid black;
    border-radius: 25px;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
    -moz-box-shadow: 0px 0px 10px 2px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
}

#languages:hover {
    border: 2px solid #CC9900;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 20px 4px #CC9900;
    -moz-box-shadow: 0px 0px 20px 4px #CC9900;
    box-shadow: 0px 0px 20px 4px #CC9900;
}

#lang {
    position: relative;
    display: inline-block;
    background-color: transparent;
    color: #CC9900;
    font-size: 1.2em;
    width: 150px;
    text-align: center;
    text-shadow: 0.035em 0.035em black;
    margin: 40px 10px 40px 20px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
    -moz-box-shadow: 0px 0px 10px 2px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
}

#lang:hover {
    border: 2px solid #CC9900;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 20px 4px #CC9900;
    -moz-box-shadow: 0px 0px 20px 4px #CC9900;
    box-shadow: 0px 0px 20px 4px #CC9900;
}


#eng {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: #310010;
    color: #CC9900;
    font-size: 1.2em;
    width: 100px;
    text-align: center;
    text-shadow: 0.035em 0.035em black;
    margin: 40px 10px 40px 20px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
    -moz-box-shadow: 0px 0px 10px 2px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
}

#eng:hover {
    -webkit-animation-name: bord1; 
    -webkit-animation-duration: 2.0s; 
    -webkit-transform-origin:50% 50%; 
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-timing-function: linear; 
}

#swe {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: #310010;
    color: #CC9900;
    font-size: 1.2em;
    width: 100px;
    text-align: center;
    text-shadow: 0.035em 0.035em black;
    margin: 40px 20px 40px 10px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
    -moz-box-shadow: 0px 0px 10px 2px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
}

#swe:hover {
    -webkit-animation-name: bord1; 
    -webkit-animation-duration: 2.0s; 
    -webkit-transform-origin:50% 50%; 
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-timing-function: linear; 
}

#themes {
    position: relative;
    display: inline-block;
    float: right;
    background-color: #000E1B;
    margin: 25px 10px 25px 0px;
    border: 2px solid black;
    border-radius: 25px;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
    -moz-box-shadow: 0px 0px 10px 2px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
}

#themes:hover {
    border: 2px solid #CC9900;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 20px 4px #CC9900;
    -moz-box-shadow: 0px 0px 20px 4px #CC9900;
    box-shadow: 0px 0px 20px 4px #CC9900;
}

#tms {
    position: relative;
    display: inline-block;
    background-color: transparent;
    color: #CC9900;
    font-size: 1.2em;
    width: 150px;
    text-align: center;
    text-shadow: 0.035em 0.035em black;
    margin: 40px 10px 40px 20px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
    -moz-box-shadow: 0px 0px 10px 2px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
}

#tms:hover {
    border: 2px solid #CC9900;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 20px 4px #CC9900;
    -moz-box-shadow: 0px 0px 20px 4px #CC9900;
    box-shadow: 0px 0px 20px 4px #CC9900;
}

#basic {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: #310010;
    color: #CC9900;
    font-size: 1.2em;
    width: 100px;
    text-align: center;
    text-shadow: 0.035em 0.035em black;
    margin: 40px 10px 40px 20px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
    -moz-box-shadow: 0px 0px 10px 2px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
}

#basic:hover {
    -webkit-animation-name: bord1; 
    -webkit-animation-duration: 2.0s; 
    -webkit-transform-origin:50% 50%; 
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-timing-function: linear; 
}

#other {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: #310010;
    color: #CC9900;
    font-size: 1.2em;
    width: 100px;
    text-align: center;
    text-shadow: 0.035em 0.035em black;
    margin: 40px 20px 40px 10px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
    -moz-box-shadow: 0px 0px 10px 2px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
}

#other:hover {
    -webkit-animation-name: bord1; 
    -webkit-animation-duration: 2.0s; 
    -webkit-transform-origin:50% 50%; 
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-timing-function: linear; 
}

@-webkit-keyframes rot1 {
    0% { -webkit-transform: rotate(0deg); }
    25% { -webkit-transform: rotate(0.5deg); }
    50% { -webkit-transform: rotate(0deg); }
    75% { -webkit-transform: rotate(-0.5deg); }
    100% { -webkit-transform: rotate(0deg); }
}

@-webkit-keyframes bord1 {
    0% {
        border: 2px solid #CC9900;
        -webkit-box-shadow: 0px 0px 20px 4px #CC9900;
        -moz-box-shadow: 0px 0px 20px 4px #CC9900;
        box-shadow: 0px 0px 20px 4px #CC9900;
    }
    50% {
        border: 2px solid black;
        -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
        -moz-box-shadow: 0px 0px 10px 2px #CC9900;
        box-shadow: 0px 0px 10px 2px #CC9900;
    }
    100% {
        border: 2px solid #CC9900;
        -webkit-box-shadow: 0px 0px 20px 4px #CC9900;
        -moz-box-shadow: 0px 0px 20px 4px #CC9900;
        box-shadow: 0px 0px 20px 4px #CC9900;
    }
}