

body {
    background-color: #310010;
    font-family: Verdana, Geneva, sans-serif;
    /*background-size: cover;*/
    /*width: 100%;*/
}


#header {
    position: relative;
    height:15%;
    background-color: #000E1B;
    margin: 2% 2% 2% 2%;
    border: 2px solid black;
    border-radius: 25px;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
    -moz-box-shadow: 0px 0px 10px 2px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
}

#header:hover {
    border: 2px solid #CC9900;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 20px 4px #CC9900;
    -moz-box-shadow: 0px 0px 20px 4px #CC9900;
    box-shadow: 0px 0px 20px 4px #CC9900;
}

#banner {
    position: relative;
    cursor: pointer;
    background-color: #310010;
    color: #CC9900;
    font-size: 3.8em;
    text-shadow: 0.035em 0.035em black;
    margin: 50px 50px 50px 50px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 20px;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
    -moz-box-shadow: 0px 0px 10px 2px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
}

#banner:hover {
    -webkit-animation-name: bord1; 
    -webkit-animation-duration: 2.0s; 
    -webkit-transform-origin:50% 50%; 
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-timing-function: linear; 
}

#navigation {
    position: relative;
    background-color: #000E1B;
    margin: 2% 2% 2% 2%;
    border: 2px solid black;
    border-radius: 25px;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
    -moz-box-shadow: 0px 0px 10px 2px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
}

#navigation:hover {
    border: 2px solid #CC9900;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 20px 4px #CC9900;
    -moz-box-shadow: 0px 0px 20px 4px #CC9900;
    box-shadow: 0px 0px 20px 4px #CC9900;
}

#home {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: #310010;
    color: #CC9900;
    font-size: 1.2em;
    width: 25%;
    text-align: center;
    text-shadow: 0.035em 0.035em black;
    margin: 2% 0% 2% 2%;
    padding: 0.5% 0% 0.5% 0%;
    border: 2px solid black;
    border-radius: 25px;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
    -moz-box-shadow: 0px 0px 10px 2px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
}

#home:hover {
    -webkit-animation-name: bord1; 
    -webkit-animation-duration: 2.0s; 
    -webkit-transform-origin:50% 50%; 
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-timing-function: linear; 
}

#searchbar {
    position: relative;
    display: inline;
    width: 20%;
    margin: 2% 0% 2% 12%;
    padding: 0.5% 0% 0.5% 0%;    
    background-color: transparent;
    color: #CC9900;
    font-size: 1.2em;
    text-align: center;
    text-shadow: 0.035em 0.035em black;
    border: 2px ridge black;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
    -moz-box-shadow: 0px 0px 10px 2px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
}

#searchbar:hover, #searchbar:focus {
    border: 20px solid black;
    -webkit-animation-name: bord1; 
    -webkit-animation-duration: 2.0s; 
    -webkit-transform-origin:50% 50%; 
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-timing-function: linear; 
}

#search {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: #310010;
    color: #CC9900;
    font-size: 1.2em;
    width: 15%;
    text-align: center;
    text-shadow: 0.035em 0.035em black;
    margin: 2% 2% 2% 2%;
    padding: 0.5% 0% 0.5% 0%;
    border: 2px solid black;
    border-radius: 25px;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
    -moz-box-shadow: 0px 0px 10px 2px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
}

#search:hover {
    -webkit-animation-name: bord1; 
    -webkit-animation-duration: 2.0s; 
    -webkit-transform-origin:50% 50%; 
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-timing-function: linear; 
}

#show, #all, #instock {
    position: relative;
    display: inline-block;
    margin: 2% 2% 2% 0.5%;
    color: #CC9900;
    font-size: 1.2em;
}

input[type="radio"] {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 2% 0% 2% 0%;
    vertical-align:middle;
    cursor:pointer;
}

#cart { 
    float: right;
    position: static;
    background-color:#B38806;
    padding:0 1%;
    margin-top: 30px;  
    overflow-y: scroll;
    height: 400px;

    cursor: pointer;
    font-size: 1.2em;
    width: 600*0.30;
    text-align: center;
    text-shadow: 0.035em 0.035em black;
    margin: 2% 2% 2% 2%;
    padding: 0.5% 1% 0.5% 1%;
    border: 2px solid black;
    border-radius: 25px;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
    -moz-box-shadow: 0px 0px 10px 2px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
} 

#user_info { 
    float: right;
    position: static;
    background-color:#B38806;
    

    overflow-y: scroll;
    height: 400px;
} 


#content_area {
    color: #CC9900;
    float: left;
    width: 945px;
    margin: 20px 0 20px 0;
    padding: 10px;
}

.outofstock {
    color: #646462 !important;
    background-color:#2E2427 !important;
}

#searchfield {
    color: #FFFFFF;
}

#beerimg {
    float: right;
}

#beerdetail {
    float: left;
}

#user_info {
    display: none;
}
#status{
    color: #CC9900;
}

@-webkit-keyframes rot1 {
    0% { -webkit-transform: rotate(0deg); }
    25% { -webkit-transform: rotate(0.5deg); }
    50% { -webkit-transform: rotate(0deg); }
    75% { -webkit-transform: rotate(-0.5deg); }
    100% { -webkit-transform: rotate(0deg); }
}

@-webkit-keyframes trans1 {
    0% { -webkit-transform: translateX(0%); }
    25% { -webkit-transform: translateX(5%); }
    50% { -webkit-transform: translateX(0%); }
    75% { -webkit-transform: translateX(-5%); }
    100% { -webkit-transform: translateX(0%); }
}

@-webkit-keyframes bord1 {
    0% {
        border: 2px solid #CC9900;
        -webkit-box-shadow: 0px 0px 20px 4px #CC9900;
        -moz-box-shadow: 0px 0px 20px 4px #CC9900;
        box-shadow: 0px 0px 20px 4px #CC9900;
    }
    50% {
        /*background-color:transparent;*/
        opacity: 0.9;
        border: 2px solid black;
        -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
        -moz-box-shadow: 0px 0px 10px 2px #CC9900;
        box-shadow: 0px 0px 10px 2px #CC9900;
    }
    100% {
        border: 2px solid #CC9900;
        -webkit-box-shadow: 0px 0px 20px 4px #CC9900;
        -moz-box-shadow: 0px 0px 20px 4px #CC9900;
        box-shadow: 0px 0px 20px 4px #CC9900;
    }
}
