
html, body {
    background-color: #310010;
    font-family: Verdana, Geneva, sans-serif;
    width: 100%;
    height: 100%;
}

#header {
    position: relative;
    background-color: #000E1B;
    margin: 2% 2% 2% 2%;
    border: 2px solid black;
    border-radius: 25px;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
    -moz-box-shadow: 0px 0px 10px 2px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
}

#header:hover {
    border: 2px solid #CC9900;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 20px 4px #CC9900;
    -moz-box-shadow: 0px 0px 20px 4px #CC9900;
    box-shadow: 0px 0px 20px 4px #CC9900;
}

#banner {
    position: relative;
    margin: 2% 10% 2% 10%;
    padding: 1% 0% 1% 0%;
    cursor: pointer;
    background-color: #310010;
    color: #CC9900;
    text-align: center;
    font-size: 1.6em;
    text-shadow: 0.035em 0.035em black;
    border: 2px solid black;
    border-radius: 25px;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
    -moz-box-shadow: 0px 0px 10px 2px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
    
    -webkit-animation-name: move1; 
    -webkit-animation-duration: 20.0s; 
    -webkit-transform-origin: 50% 50%; 
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-timing-function: linear; 
}

#banner:hover {
    border: 2px solid #CC9900;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 20px 4px #CC9900;
    -moz-box-shadow: 0px 0px 20px 4px #CC9900;
    box-shadow: 0px 0px 20px 4px #CC9900;
    /*-webkit-animation-name: bord1; 
    -webkit-animation-duration: 2.0s; 
    -webkit-transform-origin:50% 50%; 
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-timing-function: linear; */
}

#languages {
    position: relative;
    display: inline-block;
    float:left;
    width: 40%;
    background-color: #000E1B;
    margin: 1% 0% 2% 2%;
    padding: 0.5% 0% 0.5% 0%;
    border: 2px solid black;
    border-radius: 25px;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
    -moz-box-shadow: 0px 0px 10px 2px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
}

#languages:hover {
    border: 2px solid #CC9900;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 20px 4px #CC9900;
    -moz-box-shadow: 0px 0px 20px 4px #CC9900;
    box-shadow: 0px 0px 20px 4px #CC9900;
}

#lang {
    position: relative;
    display: inline-block;
    background-color: transparent;
    color: #CC9900;
    font-size: 1.2em;
    width: 30%;
    text-align: center;
    text-shadow: 0.035em 0.035em black;
    margin: 2% 2% 2% 5%;
    padding: 1% 0% 1% 0%;
    border: 2px solid black;
    border-radius: 25px;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
    -moz-box-shadow: 0px 0px 10px 2px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
}

#lang:hover {
    border: 2px solid #CC9900;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 20px 4px #CC9900;
    -moz-box-shadow: 0px 0px 20px 4px #CC9900;
    box-shadow: 0px 0px 20px 4px #CC9900;
}

#eng {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: #310010;
    color: #CC9900;
    font-size: 1.2em;
    width: 25%;
    text-align: center;
    text-shadow: 0.035em 0.035em black;
    margin: 2% 2% 2% 0%;
    padding: 1% 0% 1% 0%;
    border: 2px solid black;
    border-radius: 25px;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
    -moz-box-shadow: 0px 0px 10px 2px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
}

#eng:hover {
    -webkit-animation-name: bord1; 
    -webkit-animation-duration: 2.0s; 
    -webkit-transform-origin:50% 50%; 
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-timing-function: linear; 
}

#swe {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: #310010;
    color: #CC9900;
    font-size: 1.2em;
    width: 25%;
    text-align: center;
    text-shadow: 0.035em 0.035em black;
    margin: 2% 2% 2% 0%;
    padding: 1% 0% 1% 0%;
    border: 2px solid black;
    border-radius: 25px;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
    -moz-box-shadow: 0px 0px 10px 2px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
}

#swe:hover {
    -webkit-animation-name: bord1; 
    -webkit-animation-duration: 2.0s; 
    -webkit-transform-origin:50% 50%; 
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-timing-function: linear; 
}

#themes {
    position: relative;
    display: inline-block;
    width: 40%;
    background-color: #000E1B;
    margin: 1% 2% 2% 15%;
    padding: 0.5% 0% 0.5% 0%;
    border: 2px solid black;
    border-radius: 25px;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
    -moz-box-shadow: 0px 0px 10px 2px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
}

#themes:hover {
    border: 2px solid #CC9900;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 20px 4px #CC9900;
    -moz-box-shadow: 0px 0px 20px 4px #CC9900;
    box-shadow: 0px 0px 20px 4px #CC9900;
}

#tms {
    position: relative;
    display: inline-block;
    background-color: transparent;
    color: #CC9900;
    font-size: 1.2em;
    width: 30%;
    text-align: center;
    text-shadow: 0.035em 0.035em black;
    margin: 2% 2% 2% 5%;
    padding: 1% 0% 1% 0%;
    border: 2px solid black;
    border-radius: 25px;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
    -moz-box-shadow: 0px 0px 10px 2px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
}

#tms:hover {
    border: 2px solid #CC9900;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 20px 4px #CC9900;
    -moz-box-shadow: 0px 0px 20px 4px #CC9900;
    box-shadow: 0px 0px 20px 4px #CC9900;
}

#basic {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: #310010;
    color: #CC9900;
    font-size: 1.2em;
    width: 25%;
    text-align: center;
    text-shadow: 0.035em 0.035em black;
    margin: 2% 2% 2% 0%;
    padding: 1% 0% 1% 0%;
    border: 2px solid black;
    border-radius: 25px;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
    -moz-box-shadow: 0px 0px 10px 2px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
}

#basic:hover {
    -webkit-animation-name: bord1; 
    -webkit-animation-duration: 2.0s; 
    -webkit-transform-origin:50% 50%; 
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-timing-function: linear; 
}

#other {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: #310010;
    color: #CC9900;
    font-size: 1.2em;
    width: 25%;
    text-align: center;
    text-shadow: 0.035em 0.035em black;
    margin: 2% 2% 2% 0%;
    padding: 1% 0% 1% 0%;
    border: 2px solid black;
    border-radius: 25px;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
    -moz-box-shadow: 0px 0px 10px 2px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
}

#other:hover {
    -webkit-animation-name: bord1; 
    -webkit-animation-duration: 2.0s; 
    -webkit-transform-origin:50% 50%; 
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-timing-function: linear; 
}

#wrapper {
    position: relative;
    margin: 2% 2% 2% 2%;
    background-color: #000E1B;
    border: 2px solid black;
    border-radius: 25px;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
    -moz-box-shadow: 0px 0px 10px 2px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
}

#wrapper:hover {
    border: 2px solid #CC9900;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 20px 4px #CC9900;
    -moz-box-shadow: 0px 0px 20px 4px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
}

#in_wrapper {
    position: relative;
    margin: 2% 4% 2% 4%;
    background-color: #310010;
    border: 2px solid black;
    border-radius: 25px;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
    -moz-box-shadow: 0px 0px 10px 2px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
}

#in_wrapper:hover {
    border: 2px solid #CC9900;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 20px 4px #CC9900;
    -moz-box-shadow: 0px 0px 20px 4px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
}

#inventory {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-image: url(./Images/cellar1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /*background-color: #310010;*/
    color: #CC9900;
    font-size: 1.6em;
    width: 40%;
    text-align: center;
    text-shadow: 0.035em 0.035em black;
    margin: 2.5% 9% 2.5% 4%;
    padding: 11% 0% 11% 0%;
    border: 7.5px solid black;
    border-radius: 25px;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
    -moz-box-shadow: 0px 0px 10px 2px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
}

#inventory:hover {
    -webkit-animation-name: rot_bord; 
    -webkit-animation-duration: 2.0s; 
    -webkit-transform-origin: 50% 50%; 
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-timing-function: linear; 
}
#inventory_text {
    width: 30%;
    background-color: transparent;
    color: black;
    font-size: 0.8em;
    text-align: center;
    text-shadow: 0.035em 0.035em #CC9900;
    border: 2px solid black;
    border-radius: 25px;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
    -moz-box-shadow: 0px 0px 10px 2px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
}

#inventory_text:hover {
    -webkit-animation-name: rot_bord; 
    -webkit-animation-duration: 2.0s; 
    -webkit-transform-origin: 50% 50%; 
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-timing-function: linear; 
}

#login {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    background-image: url(./Images/login1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /*background-color: #310010;*/
    color: #CC9900;
    font-size: 1.6em;
    width: 40%;
    text-align: center;
    text-shadow: 0.035em 0.035em black;
    margin: 2.5% 4% 2.5% 0%;
    padding: 11% 0% 11% 0%;
    border: 7.5px solid black;
    border-radius: 25px;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
    -moz-box-shadow: 0px 0px 10px 2px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
}

#login:hover {
    -webkit-animation-name: rot_bord; 
    -webkit-animation-duration: 2.0s; 
    -webkit-transform-origin: 50% 50%; 
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-timing-function: linear; 
}

#login_text {
    width: 30%;
    background-color: transparent;
    color: black;
    font-size: 0.8em;
    text-align: center;
    text-shadow: 0.035em 0.035em #CC9900;
    border: 2px solid black;
    border-radius: 25px;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
    -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
    -moz-box-shadow: 0px 0px 10px 2px #CC9900;
    box-shadow: 0px 0px 10px 2px #CC9900;
}

#login_text:hover {
    -webkit-animation-name: rot_bord; 
    -webkit-animation-duration: 2.0s; 
    -webkit-transform-origin: 50% 50%; 
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-timing-function: linear; 
}

@-webkit-keyframes rot1 {
    0% { -webkit-transform: rotate(0deg); }
    25% { -webkit-transform: rotate(5deg); }
    50% { -webkit-transform: rotate(0deg); }
    75% { -webkit-transform: rotate(-5deg); }
    100% { -webkit-transform: rotate(0deg); }
}

@-webkit-keyframes move1 {
    0% { -webkit-transform: translateX(0%); }
    25% { -webkit-transform: translateX(10%); }
    50% { -webkit-transform: translateX(0%); }
    75% { -webkit-transform: translateX(-10%); }
    100% { -webkit-transform: translateX(0%); }
}

@-webkit-keyframes bord1 {
    0% {
        border: 2px solid #CC9900;
        -webkit-box-shadow: 0px 0px 20px 4px #CC9900;
        -moz-box-shadow: 0px 0px 20px 4px #CC9900;
        box-shadow: 0px 0px 20px 4px #CC9900;
    }
    50% {
        border: 2px solid black;
        -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
        -moz-box-shadow: 0px 0px 10px 2px #CC9900;
        box-shadow: 0px 0px 10px 2px #CC9900;
    }
    100% {
        border: 2px solid #CC9900;
        -webkit-box-shadow: 0px 0px 20px 4px #CC9900;
        -moz-box-shadow: 0px 0px 20px 4px #CC9900;
        box-shadow: 0px 0px 20px 4px #CC9900;
    }
}

@-webkit-keyframes rot_bord {
    0% {
        -webkit-transform: rotate(0deg);
        -webkit-box-shadow: 0px 0px 20px 4px #CC9900;
        -moz-box-shadow: 0px 0px 20px 4px #CC9900;
        box-shadow: 0px 0px 20px 4px #CC9900;
    }
    25% {
        -webkit-transform: rotate(5deg);
        -webkit-box-shadow: 0px 0px 15px 3px #CC9900;
        -moz-box-shadow: 0px 0px 15px 3px #CC9900;
        box-shadow: 0px 0px 15px 3px #CC9900;
    }
    50% {
        -webkit-transform: rotate(0deg);
        -webkit-box-shadow: 0px 0px 10px 2px #CC9900;
        -moz-box-shadow: 0px 0px 10px 2px #CC9900;
        box-shadow: 0px 0px 10px 2px #CC9900;
    }
    75% {
        -webkit-transform: rotate(-5deg);
        -webkit-box-shadow: 0px 0px 15px 3px #CC9900;
        -moz-box-shadow: 0px 0px 15px 3px #CC9900;
        box-shadow: 0px 0px 15px 3px #CC9900;
    }
    100% {
        -webkit-transform: rotate(0deg);
        -webkit-box-shadow: 0px 0px 20px 4px #CC9900;
        -moz-box-shadow: 0px 0px 20px 4px #CC9900;
        box-shadow: 0px 0px 20px 4px #CC9900;
    }
}